* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {

    width: 100vw;
    height: 100vh;
    
}

.flex-container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#heroContainer {
    width: 1000px;
    height:800px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    top: 75px;
    
    
}


body button {

    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ff6666;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 25px;
    margin-bottom: 20px;
   
    
}

#game-canvas {
    width: 1000px;
    border: 2px solid black;
    background: url(../assets/images/introBackground.png)
}